
.fileStyle span {
    color: blue;
}

.fileStyle p {
    color: black;
    font-weight: bold;
}

.fileStyle:hover p {
    color: blue;
}

li{list-style: none;
text-align: center;
color: #76BEFD;
font-weight: bold;
cursor: pointer;
}

.hr{border:1px solid #76BEFD;}